name: ci

on: [push, pull_request]

jobs:
  ruby-versions:
    if: ${{ startsWith(github.repository, 'ruby/') || github.event_name != 'schedule' }}
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 2.6

  test:
    needs: ruby-versions
    name: build (${{ matrix.ruby }} / ${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        os: [ ubuntu, macos, windows ]
        include:
          - ruby: 'jruby-9.3'
            os: 'ubuntu'
            platform: 'java'
          - ruby: 'jruby-9.4'
            os: 'ubuntu'
            platform: 'java'
            continue-on-error: true
    outputs:
      gem: ${{steps.build.outputs.gem}}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Set up Bundler
      run: bundle install
    - name: Run test
      run: bundle exec rake
      continue-on-error: ${{ matrix.continue-on-error }}
    - id: build
      run: |
        rake build:sha512
        cat pkg/SHA512
        gem=${GITHUB_REPOSITORY#*/}
        echo "gem=$gem" >> $GITHUB_OUTPUT
        echo "pkg=$gem-${RUNNING_OS%-*}" >> $GITHUB_OUTPUT
      env:
        RUNNING_OS: ${{matrix.platform || matrix.os}}
      if: ${{matrix.ruby == '3.1' || matrix.platform}}
      shell: bash
    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        path: pkg/*
        name: ${{steps.build.outputs.pkg}}
      if: steps.build.outputs.pkg

  install:
    runs-on: ${{ matrix.os }}-latest
    needs: test
    strategy:
      matrix:
        ruby: [ '2.5' ]
        os: [ ubuntu, windows ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - uses: actions/download-artifact@master
      with:
        name: ${{needs.test.outputs.gem}}-macos
        path: pkg
    - name: Install gem
      run: gem install pkg/${{needs.test.outputs.gem}}*.gem
